<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InvaSAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <InvaSAP.Properties.Settings>
        <setting name="Kayttaja" serializeAs="String">
          <value />
        </setting>
        <setting name="SapKirjautuminenYhteys" serializeAs="String">
          <value />
        </setting>
        <setting name="SapKirjautuminenKirjausjarjestelma" serializeAs="String">
          <value />
        </setting>
        <setting name="SapKirjautuminenKayttaja" serializeAs="String">
          <value />
        </setting>
        <setting name="SapKirjautuminenSalasana" serializeAs="String">
          <value />
        </setting>
        <setting name="OpenWorkOrdersFunctionalLocation" serializeAs="String">
          <value />
        </setting>
        <setting name="Toimintopaikkarajaus" serializeAs="String">
          <value />
        </setting>
        <setting name="Tietokantapolku" serializeAs="String">
          <value />
        </setting>
        <setting name="ViimeisinKayttaja" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="ViimeisinToimintolaji" serializeAs="String">
          <value />
        </setting>
        <setting name="AsetuksetAvoimetTyotVariantti" serializeAs="String">
          <value />
        </setting>
        <setting name="Toimipaikka" serializeAs="String">
          <value />
        </setting>
        <setting name="AsetuksetLaitehakuVariantti" serializeAs="String">
          <value />
        </setting>
      </InvaSAP.Properties.Settings>
    </userSettings>
</configuration>